{% extends 'EDGrPol/base.html' %}
{% block content %}

<br>
      <center><h2 class="mt-5">Алфавитный указатель</h2></center>
<br>	
	<div class="btn-toolbar mb-2 mb-md-0 justify-content-center">
		<div class="btn-group mr-2 justify-content-center">
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=а"'>А</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=б"'>Б</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=в"'>В</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=г"'>Г</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=д"'>Д</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=е"'>Е</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ѣ"'>Ѣ</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ж"'>Ж</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=з"'>З</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=и"'>И</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=й"'>Й</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=к"'>К</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=л"'>Л</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=м"'>М</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=н"'>Н</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=о"'>О</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=п"'>П</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=р"'>Р</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=с"'>С</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=т"'>Т</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=у"'>У</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ѫ"'>Ѫ</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ф"'>Ф</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ѳ"'>Ѳ</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ѵ"'>Ѵ</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=х"'>Х</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ц"'>Ц</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ч"'>Ч</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ш"'>Ш</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=щ"'>Щ</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=э"'>Э</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ю"'>Ю</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ѭ"'>Ѭ</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=я"'>Я</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ꙗ"'>Ꙗ</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href="/EDGrPol/alphabet?letter=ѩ"'>Ѩ</button>
		</div>
        </div>
<hr>

{% if response %}
	<div class="container">
	<div class="row">
	<div class="col-md-3">
		{% for word in response %}
			{% if forloop.counter0 != 0 and forloop.counter0|divisibleby:25 %}
				<a href="{% url 'full_article' pk=word.id %}">{{ word.lemma_rus }}</a></p>
				</div>
				<div class="col-md-3">
			{% else %}
				<a href="{% url 'full_article' pk=word.id %}">{{ word.lemma_rus }}</a><br>
			{% endif %}
		{% endfor %}
	</div>
	</div>
	</div>
{% else %}
	<br>
	<center><h4>По этой букве слов пока нет!</h4></center>
	<br>
{% endif %}
{% endblock %}