{% extends 'EDGrPol/base.html' %}

{% block content %}
<br>
      <center><h2 class="mt-5">«Электронный исторический словарь заимствованной лексики в русском языке XI-XVII вв.: грецизмы и полонизмы»</h2></center>

<center><p class="text-muted">Electronic Historical Dictionary of the Loan-Words in the Russian Language of the 11th-17th Centuries: Greek and Polish Loan-Words</p></center>

<br>
<p>Проект ориентирован на создание первого в отечественной науке «Электронного исторического словаря заимствованной лексики в русском языке XI-XVII вв.: грецизмы и полонизмы»  (ЭИСЗгп) с базой данных. Осуществление замысла предоставит современные возможности для исчерпывающего представления и исследования таких важнейших для исторической лексикологии русского языка показателей, как грецизмы и полонизмы, не имеющих до сих пор полного описания. Будучи словарем  нового типа,  ЭИСЗгп станет уникальным инструментом для осуществления историко-лексикологических, сопоставительно-типологических и культурно-исторических исследований. Подобного рода словаря ни в традиционном, ни в электронном виде до сих пор не создавалось.</p>
<br>
{% endblock %}
