{% extends 'EDGrPol/base.html' %}

{% block content %}
<br>
      <center><h2 class="mt-5">«Электронный исторический словарь заимствованной лексики в русском языке XI-XVII вв.: грецизмы и полонизмы»</h2></center>

<center><p class="text-muted">Electronic Historical Dictionary of the Loan-Words in the Russian Language of the 11th-17th Centuries: Greek and Polish Loan-Words</p></center>

<br>
<p>«Электронный исторический словарь заимствованной лексики в русском языке XI-XVII вв.: грецизмы и полонизмы» (ЭИСЗгп) представляет собой первый в отечественной науке опыт полного описания грецизмов и полонизмов в виде базы данных с возможностью поиска по различным параметрам, таким как лемма, цитата, дата и источник. ЭИСЗгп представляет современные возможности для исчерпывающего представления и исследования таких важнейших для исторической лексикологии русского языка групп лексики, как грецизмы и полонизмы, являясь уникальным инструментом для осуществления историко-лексикологических, сопоставительно-типологических и культурно-исторических исследований.</p>

<p>Проект осуществлен при поддерке фонда РФФИ, грант № 17-29-09113 офи_м “Электронный исторический словарь заимствованной лексики в русском языке XI-XVII вв.: грецизмы и полонизмы”</p>

<br>
{% endblock %}
