{% extends 'EDGrPol/base.html' %}

{% block content %}

<br>
<br>
<br>
<br>

<p>Уважаемый пользователь,</p>
<p>на главной странице словаря (EDGP) вы найдете несколько возможностей поиска. Поиск по алфавитному указателю: нажав на ту или иную букву в алфавитном перечне, вы окажетесь внутри списка слов (грецизмов и полонизмов вместе) и сможете выбрать нужное. </p>
<p>Поиск по лемме: в поле поиска вы можете набрать нужное слово или его часть; нажав “Поиск”, вы окажетесь на странице с результатами. Например, введя в поле поиска “варвар”, вы получаете в алфавитном порядке ссылки на словарные статьи “варвареигласьникъ”, “варваринъ”, “варвария”, “варвароплеменный”, “варварский”, “варварство”, “варварствовати”, “варваръ”. При поиске по части слова маску (знак *) вводить НЕ нужно. </p>
<p>Так же устроен поиск по цитате (ввод нужного слова или его части) — им можно воспользоваться, если вас интересует не словарная статья целиком, а именно цитаты из источников. </p>
<p>Поиск по дате подразумевает ввод в поле поисковой строки нужной вам даты — если она присутствует в какой-либо словарной статье, вы увидите это среди результатов.     </p>

<br>

{% endblock %}