{% extends 'EDGrPol/base.html' %}
{% block content %}
	<br>
	<center><h2 class="mt-5">Источники</h2></center><br>
	<h5><b>в греческой части</b></h5>
	<p>СлРЯ – Словарь русского языка XI – XVII вв. Вып. 1–30. М., 1975 – 2015 – (продолжающееся издание)<br>
	СДРЯ – Словарь древнерусского языка (XI – XIV вв.). Т. I –XI. М., 1988 – 2016 – (продолжающееся издание).<br>
	Срз. – <i>Срезневский И.И.</i> Материалы для словаря древнерусского языка по письменным памятникам: в 3 тт. СПб., 1893, 1902, 1912.<br>
	Стболг.  – Старобългарски речник. Т. 1–2. София, 1999, 2009.<br>	
	Фгсэ – <i>Фасмер М.</i> Греко-славянские этюды. III. Греческие заимствования в русском языке. СПб., 1909.<br>
	ФЭря – <i>Фасмер М.</i> Этимологический словарь русского языка. Т. 1 – 4. М., 1986 – 1987.<br>
	SJS – Slovník jazyka staroslověnského. 1–52. Praha, 1958–1997; репринтное переиздание  в 4 т. СПб., 2006.<br>
	Vasmer serb.-kr. – <i>Vasmer M.</i> Die griechischen Lehnwörter im Serbo-Kroatischen. Berlin, 1944.<br></p>

	<hr>
	<h5><b>в польской части</b></h5>
	<p>Аникин – <i>Аникин А.Е.</i> Русский этимологический словарь. Т. 1–12 – М., 2007 – 2018 (продолжающееся издание).<br>
	КГСБМ – Кароткi гiстарычны  слоунiк беларускай мовы. Мiнск, 2015.<br>
	СДРЯ – Словарь древнерусского языка (XI – XIV вв.). Т. I –XI. М., 1988 – 2016 – (продолжающееся издание).<br>
	СлРЯ – Словарь русского языка XI – XVII вв. Вып. 1–30 –. М., 1975 – 2015  (продолжающееся издание).<br>
	СОРЯМР – Словарь обиходного русского языка Московской Руси XVI–XVII вв. Вып. 1 – 7 – . СПб., 2003 – 2016 (продолжающееся издание).<br>
	Срз. – <i>Срезневский И.И.</i> Материалы для словаря древнерусского языка по письменным памятникам: в 3 тт. СПб., 1893, 1902, 1912.<br>
	Ст.укр. – Словник староукраiнськоi мови ХIV-XV ст. Т. 1: А-М. К, 1977; Т. 2: Н-Θ. К, 1978.<br>
	Фасмер, ФЭря – <i>Фасмер М.</i> Этимологический словарь русского языка. Т. 1 – 4. М., 1986 – 1987.<br>
	Шанский 1–10 – <i>Журавлев А.Ф., Шанский Н.М.</i> Этимологический словарь русского языка. Вып. 1-10. М., 1963.<br></p>


{% endblock %}
