{% extends 'EDGrPol/base.html' %}
{% block content %}
	<br>
	<center><h2 class="mt-5">Словари</h2></center><br>
	<h5><b>в греческой части</b></h5>
	<p><i>Аникин А.Е.</i> Русский этимологический словарь. Вып. 1–14–. М., 2007–2020– (использованное сокращение: Аникин); <br>
	<i>Аргировски М.</i> Грцизмите во македонскиот јазик. Скопје, 1998.<br>
	Большой словарь церковнославянского языка Нового времени / Под редакцией А.Г. Кравецкого и А.А. Плетневой. Т. Ι. М., 2016; Т. ΙΙ. М., 2019–.<br>
	ГОРАЗДЪ GORAZD Виртуальный портал старославянского языка http://gorazd.org/gulliver/?envLang=ru <br>
	<i>Дашков С.Б.</i> Словарь византийских терминов (использованное сокращение: Сл.виз.)<br>
    <i>Дворецкий И.Х.</i> Древнегреческо-русский словарь. Т. 1 – 2. М., 1<br>
	Древнерусский корпус https://ruscorpora.ru/new/search-old_rus.html (включает подкорпус по 27 источникам) <br>
	<i>Люсен И.</i> Греческо-старославянский конкорданс к древнейшим спискам славянского перевода Евангелий (codices Marianus, Zographensis, Assemanianus, Ostromiri). Uppsala, 1995.<br>
	Портал Манускрипт http://mns.udsu.ru<br>
	Речник на црковнословенскиот jазик од македонска редакциjа. I– Скопje, 2006–.<br>
	Словарь древнерусского языка (XI – XIV вв.). Т. I –XI. М., 1988 – 2016 – (продолжающееся издание).<br>
	Словарь русского языка XI – XVII вв. Вып. 1–30. М., 1975 – 2015 – (продолжающееся издание)<br>
	<i>Срезневский И.И.</i> Материалы для словаря древнерусского языка по письменным памятникам: в 3 тт. СПб., 1893, 1902, 1912.<br>
	Старобългарски речник. Т. I. София,1999. Т. II. София, 2009<br>
	Старорусский корпус https://ruscorpora.ru/new/search-mid_rus.html <br>
	Старославянский словарь (по рукописям X – XI веков) / Под ред. Р.М. Цейтлин, Р. Вечерки и Э. Благовой. М., 1994.<br>
	Текстовый корпус на сайте Софийского университета (Болгария) http://histdict.uni-sofia.bg/textcorpus/list Кирило-Методиевски научен център към БАН https://www.kmnc.bg<br>
	Терминологичен речник на Йоан Екзарх / Под ред. А. Тотоманова и И. Христов. София, 2019.<br>
	<i>Фасмер М.</i> Греко-славянские этюды. III. Греческие заимствования в русском языке. СПб., 1909.<br>
	<i>Фасмер М.</i> Этимологический словарь русского языка. Т. 1 – 4. М., 1986 – 1987.<br>
	<i>Христов И.</i> Гръцко-църковнославянски речник ... въз основа на Речника на църковнославянския език от архимандрит д-р Атанасий Бончев. Зографски манастир Света Гора, 2019.<br>
	Церковнославянский корпус https://ruscorpora.ru/new/search-orthlib.html <br>
	<i>Чернышева М.И.</i> «Синайский патерик»: греческая (и иноязычная) лексика в раннеславянском переводе // Православный палестинский сборник. Вып. 100. М., 2003. С. 187-231.<br>
	<i>Чернышева М.И.</i> Греческие слова, способы их адаптации и функционирование в славянском переводе “Хроники” Иоанна Малалы / Подготовка издания, вступительная статья и приложения М.И. Чернышевой // Истрин В.М. Хроника Иоанна Малалы в славянском переводе . М., 1994. С. 402-462.<br>
	<i>Шапошников А.К.</i> Этимологический словарь современного русского языка. Т. 1–2. М., 2010.<br>
	Этимологический словарь славянских языков. Вып. 1–41– М., 1974–2018.<br>
	<i>Bauer W.</i> Wörterbuch zum Neuen Testament. 6, völlig neu bearbeitete Auflage von K. und B. Aland. Berlin, New York, 1988.<br>
	<i>Chantraine P.L.</i> Dictionaire étymologique de la langue grecque. T. 1–4. Paris, 1968–1977.<br>
	<i>Dimitrakos D.</i> Mega leksikon olis tis ellinikis glossis. Т. 1–15. Athenae, 1933–1959.<br>
	Etymologický slovník jazyka staroslověnského. Seš. 1–19. Brno, 1989–2019.<br>
	<i>Frisk H.</i> Griechisches etymologisches Wörterbuch. Heidelberg, 1960.<br>
	<i>Lampe G.W.H.</i> A Patristic Greek Lexicon. Oxford, 1961–1968.<br>
	<i>Liddell H.G., Scott R.</i> A Greek-English Lexicon. Oxford, 1996.<br>
	<i>Miklosich Fr.</i> Lexicon linguae Slovenicae. Vindobonae, 1850.<br>
	Řecko-staroslověnský index. Index verborum graeco-palaeoslovenicus. Fasc. 1–8–. Praha, 2008–2014.<br>
	Rječnik crkevnoslavenskoga jezika hrvatske redakcije – Lexicon linguae Slavonicae redactionis Croaticae I–II. Zagreb: Staroslavenski institut, 2000–2015.<br>
	Slovník jazyka staroslověnského. 1–52. Praha, 1958–1997; репринтное переиздание  в 4 т. СПб., 2006.<br>
	<i>Sоphocles E.A.</i> Greek Lexicon of the Roman and Byzantine Periods, New York, 1900.<br>
	The Oxford Dictionary of Byzantium / Ed. in chief Alexander P. Kazhdan. Vol. 1– 3. New-York, Oxford, 1991.<br>
	<i>Trapp E.</i> Lexikon zur Byzantinischen Gräzität. Fasz. 1–8. Wien, 1994–2017.<br>
	<i>Vasmer M.</i> Die griechischen Lehnwörter im Serbo-Kroatischen. Berlin, 1944.<br></p>

	<hr>
	<h5><b>в польской части</b></h5>
	<p><i>Аникин А.Е.</i> Русский этимологический словарь. Т. 1–12 – М., 2007 – 2018 (продолжающееся издание).<br>
	<i>Витковский В.</i> Новый словарь польских заимствований в русском языке = Nowy słownik zapożyczeń polskich w języku rosyjskim. Kraków: «Universitas», 2006.<br>
	<i>Гарбуль Л.П.</i> Лексические полонизмы в русском приказном языке первой половины XVII века. Вильнюс, 2014.<br>
		Кароткi гiстарычны  слоунiк беларускай мовы. Мiнск, 2015.<br>
		<i>Милейковская Г.</i> Польские заимствования в русском литературном языке XV–XVII веков // Studia z filologii rosyjskiej i slowianskiej; T. 7. Warszawa; Wyd-va Uniw. Warszawskiego, 1984.<br>
	<i>Николаев С.И.</i> Польско-русские литературные связи XVI–XVIII вв.: Библиографические материалы. СПб., 2008 и др.<br>
	<i>Романова Г.Я.</i> Объяснительный словарь старинных русских мер. Москва, 2017.<br>
	Словарь древнерусского языка (XI – XIV вв.). Т. I –XI. М., 1988 – 2016 – (продолжающееся издание).<br>
	Словарь русского языка XI – XVII вв. Вып. 1–30 –. М., 1975 – 2015  (продолжающееся издание).<br>
	Словарь обиходного русского языка Московской Руси XVI–XVII вв. Вып. 1 – 7 – . СПб., 2003 – 2016 (продолжающееся издание).<br>
	<i>Срезневский И.И.</i> Материалы для словаря древнерусского языка по письменным памятникам: в 3 тт. СПб., 1893, 1902, 1912.<br>
	Словник староукраiнськоi мови ХIV-XV ст. Т. 1: А-М. К, 1977; Т. 2: Н-Θ. К, 1978.<br>
	<i>Фасмер М.</i> Этимологический словарь русского языка. Т. 1 – 4. М., 1986 – 1987.<br>
	<i>Журавлев А.Ф., Шанский Н.М.</i> Этимологический словарь русского языка. Вып. 1-10. М., 1963.<br></p>
	<i>Boryś W.</i> Słownik etymologiczny języka polskiego, Kraków, 2008.<br>
	<i>Brückner A.</i> Słownik etymologiczny języka polskiego, 1927; przedruk: Warszawa, 1985).<br>
	<i>Leeming H.</i> Rola języka polskiego w rozwoju leksyki rosyjskiej do roku 1696 (Wyrazy pochodzenia łacińskiego i romańskiego). Kraków, 1976.<br>
	<i>Linde S.B.</i> Słownik języka polskiego. 6 tomów. 1807–1814.<br>
	Słownik języka polskiego pod red. W. Doroszewskiego, PWN, 1955–1969.<br>
	Słownik pojęciowy języka staropolskiego. 2011–2015.<br>
	Słownik Polszczyzny XVI w. T. 1-37. Od 1966 —./<br>

{% endblock %}
