{% extends 'EDGrPol/base.html' %}
{% block content %}
	<br>
	<center><h2 class="mt-5">Источники</h2></center><br>

	<h4><b>в греческой части</b></h4><br>

	<h5><b>Словари</b></h5>
	<p><i>Аникин А.Е.</i> Русский этимологический словарь. Вып. 1–14–. М., 2007–2020– (использованное сокращение: Аникин); <br>
	<i>Аргировски М.</i> Грцизмите во македонскиот јазик. Скопје, 1998.<br>
	Большой словарь церковнославянского языка Нового времени / Под редакцией А.Г. Кравецкого и А.А. Плетневой. Т. Ι. М., 2016; Т. ΙΙ. М., 2019–.<br>
	<i>Дашков С.Б.</i> Словарь византийских терминов (использованное сокращение: Сл.виз.)<br>
    <i>Дворецкий И.Х.</i> Древнегреческо-русский словарь. Т. 1 – 2. М., 1<br>
	<i>Люсен И.</i> Греческо-старославянский конкорданс к древнейшим спискам славянского перевода Евангелий (codices Marianus, Zographensis, Assemanianus, Ostromiri). Uppsala, 1995.<br>
	Речник на црковнословенскиот jазик од македонска редакциjа. I– Скопje, 2006–.<br>
	<i>СДРЯ</i> Словарь древнерусского языка (XI – XIV вв.). Т. I –XI. М., 1988 – 2016 – (продолжающееся издание).<br>
	<i>СлРЯ</i>  Словарь русского языка XI – XVII вв. Вып. 1–30. М., 1975 – 2015 – (продолжающееся издание)<br>
	<i>Срезневский И.И.</i> Материалы для словаря древнерусского языка по письменным памятникам: в 3 тт. СПб., 1893, 1902, 1912.<br>
	<i>Стболг.</i> Старобългарски речник. Т. I. София,1999. Т. II. София, 2009<br>
	Старославянский словарь (по рукописям X – XI веков) / Под ред. Р.М. Цейтлин, Р. Вечерки и Э. Благовой. М., 1994.<br>
	Терминологичен речник на Йоан Екзарх / Под ред. А. Тотоманова и И. Христов. София, 2019.<br>
	<i>Фасмер М.</i> Греко-славянские этюды. III. Греческие заимствования в русском языке. СПб., 1909.<br>
	<i>Фасмер М.</i> Этимологический словарь русского языка. Т. 1 – 4. М., 1986 – 1987.<br>
	<i>Христов И.</i> Гръцко-църковнославянски речник ... въз основа на Речника на църковнославянския език от архимандрит д-р Атанасий Бончев. Зографски манастир Света Гора, 2019.<br>
	<i>Шапошников А.К.</i> Этимологический словарь современного русского языка. Т. 1–2. М., 2010.<br>
	<i>ЭССЯ</i> Этимологический словарь славянских языков. Вып. 1–41– М., 1974–2018.<br>
	<i>Bauer W.</i> Wörterbuch zum Neuen Testament. 6, völlig neu bearbeitete Auflage von K. und B. Aland. Berlin, New York, 1988.<br>
	<i>Chantraine P.L.</i> Dictionaire étymologique de la langue grecque. T. 1–4. Paris, 1968–1977.<br>
	<i>Dimitrakos D.</i> Mega leksikon olis tis ellinikis glossis. Т. 1–15. Athenae, 1933–1959.<br>
	Etymologický slovník jazyka staroslověnského. Seš. 1–19. Brno, 1989–2019.<br>
	<i>Frisk H.</i> Griechisches etymologisches Wörterbuch. Heidelberg, 1960.<br>
	<i>Lampe G.W.H.</i> A Patristic Greek Lexicon. Oxford, 1961–1968.<br>
	<i>Liddell H.G., Scott R.</i> A Greek-English Lexicon. Oxford, 1996.<br>
	<i>Miklosich Fr.</i> Lexicon linguae Slovenicae. Vindobonae, 1850.<br>
	Řecko-staroslověnský index. Index verborum graeco-palaeoslovenicus. Fasc. 1–8–. Praha, 2008–2014.<br>
	Rječnik crkevnoslavenskoga jezika hrvatske redakcije – Lexicon linguae Slavonicae redactionis Croaticae I–II. Zagreb: Staroslavenski institut, 2000–2015.<br>
	<i>SJS</i> Slovník jazyka staroslověnského. 1–52. Praha, 1958–1997; репринтное переиздание  в 4 т. СПб., 2006.<br>
	<i>Sоphocles E.A.</i> Greek Lexicon of the Roman and Byzantine Periods, New York, 1900.<br>
	The Oxford Dictionary of Byzantium / Ed. in chief Alexander P. Kazhdan. Vol. 1– 3. New-York, Oxford, 1991.<br>
	<i>Trapp E.</i> Lexikon zur Byzantinischen Gräzität. Fasz. 1–8. Wien, 1994–2017.<br>
	<i>Vasmer M.</i> Die griechischen Lehnwörter im Serbo-Kroatischen. Berlin, 1944.<br></p>

	<h5><b>Картотечные ресурсы</b></h5>
	<p><i>КДРС</i>Картотека Словаря русского языка XI-XVII вв. (Москва, Институт русского языка им. В.В. Виноградова РАН)<br></p>

	<h5><b>Электроееые ресурсы</b></h5>
	<p>ГОРАЗДЪ GORAZD Виртуальный портал старославянского языка <a href="http://gorazd.org/gulliver/?envLang=ru">http://gorazd.org/gulliver/?envLang=ru</a> <br>
	Древнерусский подкорпус Национального корпуса русского языка <a href="https://ruscorpora.ru/new/search-old_rus.html">https://ruscorpora.ru/new/search-old_rus.html</a> <br>
	Портал Манускрипт <a href="http://mns.udsu.ru">http://mns.udsu.ru</a><br>
	Старорусский корпус подкорпус Национального корпуса русского языка <a href="https://ruscorpora.ru/new/search-mid_rus.html">https://ruscorpora.ru/new/search-mid_rus.html</a> <br>
	Текстовый корпус на сайте Софийского университета (Болгария) <a href="http://histdict.uni-sofia.bg/textcorpus/list">http://histdict.uni-sofia.bg/textcorpus/list</a> <br>
	Кирило-Методиевски научен център към БАН <a href="https://www.kmnc.bg">https://www.kmnc.bg</a><br>
	Церковнославянский подкорпус Национального корпуса русского языка <a href="https://ruscorpora.ru/new/search-orthlib.html">https://ruscorpora.ru/new/search-orthlib.html</a> <br></p>

	<h5><b>Исследования</b></h5>
	<p><i>Чернышева М.И.</i> «Синайский патерик»: греческая (и иноязычная) лексика в раннеславянском переводе // Православный палестинский сборник. Вып. 100. М., 2003. С. 187-231.<br>
	<i>Чернышева М.И.</i> Греческие слова, способы их адаптации и функционирование в славянском переводе “Хроники” Иоанна Малалы / Подготовка издания, вступительная статья и приложения М.И. Чернышевой // Истрин В.М. Хроника Иоанна Малалы в славянском переводе . М., 1994. С. 402-462.<br>
	<i>Пичхадзе А.А.</i> Переводческая деятельность в домонгольской Руси. М., 2011.<br></p>

	<hr>
	<h4><b>в польской части</b></h4>

	<h5><b>Словари</b></h5>

	<p><i>Аникин А.Е.</i> Русский этимологический словарь. Т. 1–12 – М., 2007 – 2018 (продолжающееся издание).<br>
	<i>Витковский В.</i> Новый словарь польских заимствований в русском языке = Nowy słownik zapożyczeń polskich w języku rosyjskim. Kraków: «Universitas», 2006.<br>
	<i>Гарбуль Л.П.</i> Лексические полонизмы в русском приказном языке первой половины XVII века. Вильнюс, 2014.<br>
	<i>ГСБМ</i> Гiстарычны слоўнiк беларускай мовы, тт. 1—37. Минск, 1982–2017.<br>
	<i>Дорошевский В.</i> Słownik języka polskiego pod red. W. Doroszewskiego, PWN, 1955–1969.<br>
	<i>КГСБМ</i> Кароткi гiстарычны  слоунiк беларускай мовы. Мiнск, 2015.<br>
	<i>Милейковская Г.</i> Польские заимствования в русском литературном языке XV–XVII веков // Studia z filologii rosyjskiej i slowianskiej; T. 7. Warszawa; Wyd-va Uniw. Warszawskiego, 1984.<br>
	<i>Николаев С.И.</i> Польско-русские литературные связи XVI–XVIII вв.: Библиографические материалы. СПб., 2008 и др.<br>
	<i>Преображенский А.Г.</i> Этимологический словарь русского языка / сост. А.Г. Преображенский. М., 1910–1914.<br>
	<i>Романова Г.Я.</i> Объяснительный словарь старинных русских мер. Москва, 2017.<br>
	<i>СДРЯ</i> Словарь древнерусского языка (XI – XIV вв.). Т. I –XI. М., 1988 – 2016 – (продолжающееся издание).<br>
	<i>СлРЯ</i> Словарь русского языка XI–XVII вв. Вып. 1–31–. М., 1975–2019– (продолжающееся издание)<br>
	<i>СлРЯ XVIII</i> Словарь русского языка XVIII века / АН СССР, Ин-т рус. яз. ; [редкол.: Ю. С. Сорокин и др.]. Ленинград: Наука, Ленинградское отд-ние, 1984‒. (продолжающееся издание)<br>
	<i>СОРЯМР</i> Словарь обиходного русского языка Московской Руси XVI–XVII вв. Вып. 1 – 7 – . СПб., 2003 – 2016 (продолжающееся издание).<br>
	<i>Срезневский И.И.</i> Материалы для словаря древнерусского языка по письменным памятникам: в 3 тт. СПб., 1893, 1902, 1912.<br>
	<i>СРНГ</i> Словарь русских народных говоров / Академия наук СССР, Институт русского языка, Словарный сектор. Москва: Наука; Ленинград: Наука, Ленинградское отд-ние, 1965‒. (продолжающееся издание)<br>
	<i>Ст.укр.</i> Словник староукраiнськоi мови ХIV-XV ст. Т. 1: А-М. К, 1977; Т. 2: Н-Θ. К, 1978.<br>
	<i>Фасмер М.</i> Этимологический словарь русского языка. Т. 1 – 4. М., 1986 – 1987.<br>
	<i>Журавлев А.Ф., Шанский Н.М.</i> Этимологический словарь русского языка. Вып. 1-10. М., 1963.<br>
	<i>ЭСУМ</i> Етимологічний словник української мови. Мельничук О. С. et al. Київ, 1982<br>
	<i>Boryś W.</i> Słownik etymologiczny języka polskiego, Kraków, 2008.<br>
	<i>Brückner A.</i> Słownik etymologiczny języka polskiego, 1927; przedruk: Warszawa, 1985).<br>
	<i>Leeming H.</i> Rola języka polskiego w rozwoju leksyki rosyjskiej do roku 1696 (Wyrazy pochodzenia łacińskiego i romańskiego). Kraków, 1976.<br>
	<i>Linde S.B.</i> Słownik języka polskiego. 6 tomów. 1807–1814.<br>
	Słownik wyrazów obcych pod red. E. Sobol, PWN, 1995.<br>
	Słownik zapożyczeń niemieckich w polszczyźnie pod red. M. Łazińskiego. Warszawa, PWN, 2008.<br>
	Uniwersalny słownik języka polskiego pod red. S. Dubisza, t. 1‒4, PWN, 2003.<br>
	Wielki słownik wyrazów obcych pod red. M. Bańki, PWN, 2008.<br>
	Słownik pojęciowy języka staropolskiego. 2011–2015.<br>
	Słownik Polszczyzny XVI w. T. 1-37. Od 1966 —./<br></p>

	<h5><b>Электронные ресурсы</b></h5>
	<p>Старорусский подкорпус Национального корпуса русского языка <a href="https://ruscorpora.ru/new/search-mid_rus.html">https://ruscorpora.ru/new/search-mid_rus.html</a><br>
	Słownik pojęciowy języka staropolskiego. 2011–2015; в электронном виде: <a href="https://spjs.ijp.pan.pl/ukladSemant/index">https://spjs.ijp.pan.pl/ukladSemant/index</a><br>
	Słownik Polszczyzny XVI w. T. 1-37. Od 1966—; в электронном виде: <a href="http://spxvi.edu.pl/">http://spxvi.edu.pl/</a><br>
	Słownik staropolski. 11 tomów. Zakład Narodowy im. Ossolińskich, 1953-2002; в электронном виде: <a href="http://www.staropolska.pl/slownik/">http://www.staropolska.pl/slownik/"</a><br></p>

	<h5><b>Исследования</b></h5>

	<p><i>Виноградов В.В.</i> Очерки по истории русского литературного языка XVII–XIX вв. М., 1938.<br>
	<i>Гарбуль 2009</i> Гарбуль Л.П. Семантические полонизмы в русском приказном языке первой половины XVII века. Докт. дисс. Вильнюс, 2009.<br>
	<i>Гарбуль 2014</i> Гарбуль Л.П. Лексические полонизмы в русском приказном языке первой половины XVII века. Вильнюс, 2014.<br>
	<i>Золтан 2014</i> Золтан А. Interslavica. Исследования по межславянским языковым и культурным контактам. М.: Индрик, 2014.<br>
	<i>Золтан 2002</i> Золтан А. Пути проникновения западнорусской лексики в великорусский деловой язык в XV в. // Из истории русской культуры. Том II. Кн. 1. (Киевская и Московская Русь) / сост. А.Ф. Литвина, Ф.Б. Успенский. М.: Языки славянской культуры, 2002.<br>
	<i>Милейковская Г.</i> Польские заимствования в русском литературном языке XV–XVII веков // Studia z filologii rosyjskiej i słowiańskiej; T. 7. Warszawa; Wydawnictwo Uniw. Warszawskiego, 1984.<br>
	<i>Николаев С.И.</i> Польско-русские литературные связи XVI–XVIII вв.: Библиографические материалы. СПб., 2008.<br>
	<i>Смирнов Н.А.</i> Западное влияние на русский язык в Петровскую эпоху // Сб. Отделения рус. языка и словесности, 88/2.<br>
	<i>Christiani W.A.</i> Über das Eindringen von Fremdwörtern in die russische Schriftsprache des 17. und des 18. Jahrhunderts. Berlin, 1906.<br>
	<i>Fogarasi 1958</i> Fogarasi М. Europäische Lehnwörter im Spiegel einer russischen diplomatischen Urkundensammlung (1488–1699) // Studia Slavica 4, Budapest 1958.<br>
	<i>Fogarasi 1965</i> Fogarasi М. Beiträge zur Geschichte der internationalen Bildungssuffixe des Russischen. Budapest, 1965.<br>
	<i>Hüttl-Worth G.</i> Foreign words in Russian. A historical sketch, 1550–1800. University of California publications in linguistics. Berkeley: University of California Press, 1963.<br>
	<i>Kochman S.</i> Polsko-rosyjskie kontakty językowe w zakresie słownictwa w XVII wieku. Wrocław, 1967.<br>
	<i>Kochman S.</i> Polsko-rosyjskie stosunki językowe od XVI do XVIII w. Opole, 1975.<br>
	<i>Kochman S.</i> Polonica w leksykografii rosyjskiej XVII wieku. Wrocław, 1975.<br>
	<i>Leeming H.</i> Polish and Polish-Latin Medical Terms in pre-Petrine Russian. // The Slavonic and East European Review. Vol. 42, No. 98 (Dec., 1963), pp. 89‒109.<br>
	<i>Leeming H.</i> Polish-Latin Influences in Pre-Petrine East Slavonic: Some Observations. // The Slavonic and East European Review, Vol. 51, No. 124 (Jul., 1973), pp. 344‒357.<br>
	<i>Leeming Leeming H.</i> Rola języka polskiego w rozwoju leksyki rosyjskiej do roku 1696 (Wyrazy pochodzenia łacińskiego i romańskiego). Kraków, 1976.<br>
	<i>Sobik M.E.</i> Polnisch-russische Beziehungen im Spiegel des russischen Wortschatzes des 17. und der ersten Hälfte des 18. Jh. Hain, 1969.<br></p>

	<h5><b>Рукописи</b></h5>
	<p><i>Азбуковник</i> Рук. РГБ, ф. 299, №462, XVII в.<br>
	<i>Бѣги небесные</i> Рук. РГБ, ф. 256, № 1557, XVII в. (В словаре цитируется по: А.И. Соболевский, "Западное влияние на литературу Московской Руси XV-XVII вв.")<br>
	<i>Годовыя дѣла церковныя</i> Рук. РГБ, ф. 256, № 16, XVII в. (польский оригинал: Baronius Caesar. Roczne dzieje kościelne. Kraków, 1603).<br>
	<i>Идеа грамматики мусикийской</i> Рук. РГБ, ф. 173.I, № 107, 1679 г.<br>
	<i>Жабчиц Ян. Четвертак.</i> Рук. РНБ, Сол. № 354/242. XVII в. — перевод с польск. оргинала Czwartak nowy, w którym się wyrażają obyczaje ludziom rozmaitego stanu. Kraków, 1616.<br>
	<i>Лечебник</i> Рук. РГБ, ф. 310, № 695. XVII в.<br>
	<i>Краткое описание о свере армилярной.</i> Рук. РГАДА, ф. 181, оп. 3, № 216 (по старому описанию 376). Конец XVII в. (В словаре цитируется по: А.И. Соболевский, "Западное влияние на литературу Московской Руси XV-XVII вв.")<br>
	<i>Математическая география</i> Рук. РГАДА, Ф. 181, оп. 3, № 216 (376). XVII в. (В словаре цитируется по: А.И. Соболевский, "Западное влияние на литературу Московской Руси XV-XVII вв.")<br>
	<i>Наука кабалистичная </i>Рук. ГИМ, Увар. № 2235. Нач. XVIII в. (В словаре цитируется по: А.И. Соболевский, "Западное влияние на литературу Московской Руси XV-XVII вв.")<br>
	<i>Петр I. Инструкция Петра I Волынскому для выполнения дипломатической миссии в Персии </i>Рук. РГАДА, ф. Сношения России с Персией, 1715-1717 гг., д. 1, лл. 45-52 об.<br>
	<i>Поваренная книга, или "Книга, глаголемая Домострой".</i> Рук. РГБ, ф. 178, № 931. Кон. XVII в. (польский оригинал: Compendium ferculorum albo zebranie potraw. Kraków, 1682).<br>
	<i>Повесть о турках</i> Рук. РНБ Q.IV.126. XVII в.<br>
	<i>Поучение о комете</i> Рук. РНБ, Погод. № 1584. К. XVII в. (В словаре цитируется по: А.И. Соболевский, "Западное влияние на литературу Московской Руси XV-XVII вв."<br>
	<i>Проблемата, сиречь ганания или совопрошения различная.</i> Рук. РГБ, ф. 205, № 162. XVII в. "Проблемата, сиречь ганания или совопрошения различная, от книг великаго философа Аристотеля и иных мудрых, якоже естественныя, такожде и врачевския хитрости" — второй перевод медицинской книги Псевдо-Аристотеля, "Problemata Aristotelis. Gadki z pisma wielkiego philozopha Arystotela i tesz inszych mędrców tak przyrodzonej iako i lekarskiej nauki z pilnością wybrane; pytania rozmaite o składności człowieczych członków rozważające". Kraków, 1535.<br>
	<i>Риторика Макария</i> Рук. РГБ, ф. 310, № 874. 1623 г.<br>
	<i>Сборник астрологических статей.</i> Рук. ГИМ, Увар. № 1865. XVII в.<br>
	<i>Сборник литературно-исторический</i> Рук. РНБ, Q.XVII.12. XVII в.<br>
	<i>Сборник литературно-полемический</i> собрания Новгородского Софийского собора № 1186. XVII в.<br>
	<i>Сказание о двух </i> Рук. РГАДА, ф. 155, оп. 1, д. 4. 1680 г.<br>
	<i>Словарь П. Семенникова</i> Рук. ГИМ, Барс. №3215. XVII в.<br>
	<i>Театрум света всего</i> Рук. РГБ, собр. Попова, № 13 / 2423, вт. пол. XVII в.<br>
	<i>Фредро А.М. Наказание нравоучительное, или моральное.</i> Рук. РНБ F.III.8, XVII—XVIII вв.<br><p>

	<h5><b>Издания</b></h5>
	<p><i>А.Зап.Рос. III</i> Акты, относящиеся к истории западной России, собр. и изд. Археограф. комис. Т. 3. СПб., 1848. 1544–1587 гг.<br>
	<i>А.Зап.Рос. IV</i> Акты, относящиеся к истории западной России, собр. и изд. Археограф. комис. Т. 4. СПб., 1851. 1588-1632 гг.<br>
	<i>А.Зап.Рос. V</i> Акты, относящиеся к истории западной России, собр. и изд. Археограф. комис. Т. 4. СПб., 1853. 1633-1699 гг.<br>
	<i>Азбуковник и сказание о неудоб познаваемых речах.</i> XVI‒XVII вв. Сказания русского народа, собранные И. Сахаровым. СПб., 1849.<br>
	<i>Акты Виленской комиссии</i> Акты, издаваемые Виленскою археографическою комиссиею. II, Вильна, 1867; XIV, Вильна, 1887; XV, Вильна, 1888.<br>
	<i>Архив Юго-Западной России, Часть 6, Т. 1. Киев, 1876.</i><br>
	<i>Атлас Блау</i> ГИМ, Син. №19. XVII в. Пам. древ. пис. и искусства, ОЛДП, СПб., 1878‒1925.<br>
	<i>А.юж. и зап.Рос. XIII</i> Акты, относящиеся к истории Южной и Западной России, собр. и изд. Археограф. комис. Т. 13. СПб., 1884. 1677–1678 гг.<br>
	<i>Виршевая поэзия</i> (первая половина XVII века). М., 1989.<br>
	<i>Вирши</i> Nils Åke Nilsson, Russian Heraldic Virši from the 17th Century, Stockholm–Göteborg–Uppsala, 1964.<br>
	<i>Дан.гр.кн.Мар.Сузд. 1252–1253 гг. (Срз.).</i> Данная княгини черницы Марины Суздальскому Васильевскому монастырю (в списках) // Акты, относящиеся до юридического быта Древней России. Изданы Археографической комиссиею под ред. Н. Калачева. Т. I, № 63. СПб., 1857.<br>
	<i>Двор тур.султ.</i> Старовольский С. Двор турецкого султана: По шести переводам второй половины XVII в. (русско-польский словарь из докт. дис. Е. М. Иссерлин «Лексика русского литературного языка 2-й пол. XVII в.», Л., 1961).<br>
	<i>Двор цесаря турецкого.</i> Сочинение ксендза Симона Старовольского / Сообщение А.Л. СПб., 1883. 79 с. (ПДП. Изд. ОЛДП. № XLII)<br>
	<i>Димитрий Ростовский. Рождественская драма; Успенская драма. Комедия на успение Богородицы.</i> XVIII в. ~ 1680-1690 гг. Русская драматургия (XVII–первая половина XVIII в.) Т. 1. М: Наука, 1972.<br>
	<i>Иван Грозный. Первое послание Ивана Грозного Курбскому.</i> Библиотека литературы Древней Руси / РАН. ИРЛИ, Под ред. Д. С. Лихачева, Л. А. Дмитриева, А. А. Алексеева, Н. В. Понырко. СПб.: Наука, 2001. Т. 11: XVI век.<br>
	<i>Иван Грозный. Послание польскому королю Стефану Баторию 1581 года.</i> Библиотека литературы Древней Руси / РАН. ИРЛИ, Под ред. Д. С. Лихачева, Л. А. Дмитриева, А. А. Алексеева, Н. В. Понырко. СПб.: Наука, 2001. Т. 11: XVI век.<br>
	<i>Иоанникий Галятовский. Ключ разумения.</i> 2-е изд. Львов, 1665 г. (собрание проповедей и пособие по гомилетике)<br>
	<i>ИСНСР</i> Исторические связи народов СССР и Румынии в ХV–начале ХVIII в. Документы и материалы в 3-х томах. М., 1965-1970.<br>
	<i>Историко-юридические материалы</i>, извлеченные из актовых книг губерний Витебской и Могилевской. Вып. 25. Витебск, 1894.<br>
	<i>История вкратце о Бохеме.</i> Панченко А. М. История вкратце о Бохеме // Труды Отдела древнерусской литературы. М., Л., 1965. Т. XXI. С. 240–251.<br>
	<i>«Космография» Лыкова</i> Глускина С.М. Космография Богдана Лыкова 1637 г.: Автореф. дис. … Канд.филол. наук. Л., 1949.<br>
	<i>Литовский статут 1529 года</i> // Временник ОИДР, кн. 18. М., 1854.<br>
	<i>Литовский статут 1588 года</i> // Временник ОИДР, кн. 19. М., 1854.<br>
	<i>Литовский статут 1566 года</i> // Временник ОИДР, кн. 23. 1855.<br>
	<i>Номенклятор</i> Номенклятор на латинском, русском и голландском языках. Амстердам, 1700.<br>
	<i>Ономастикон</i> Веселовский С.Б. Ономастикон. М., 1974.<br>
	<i>О причинах гибели царств.</i> РНБ. № 0. II. 3. Рукопись начала XVII в. 41 л. Исправления сделаны по списку: РНБ. Собр. Титова. № 1121 (старый номер 2350). Библиотека литературы Древней Руси. Т. 14: Конец XVI–начало XVII века. СПб., 2006.<br>
	<i>Памятники полемической литературы в Западной Руси </i>// Русская историческая библиотека, издаваемая Археографической комиссией. Т. 7. Кн. 2. СПб., 1882.<br>
	<i>Посольство в Польшу Салтыкова-Морозова,</i> 1601 г. // Древняя росс. вивлиофика. Ч. 4, М., 1788.<br>
	<i>Прение живота со смертью</i> РГБ, Иосиф. № 186, лл.48-52, XVII в. Издание: Труды Восьмого археологического съезда в Москве. Т. 2. 1895 г.<br>
	<i>Псалт.Фирсова</i> Псалтырь 1683 г. в переводе Аврамия Фирсова: Текст, словоуказатель, исследование / Рос. академия наук; Ин-т русского языка им. В.В. Виноградова; Предисл., исслед., подгот. текста и сост. словоуказат. Е.А. Целуновой. М.: Языки славянских культур, 2006.<br>
	<i>Псалтырь рифмованная</i> Финдейзен И. Очерки по истории музыки в России, 1. М.‒Л., 1928.<br>
	<i>ПСЗ</i> Полное собрание законов Российской империи (Н.А. Смирнов, Западное влияние на русский язык в Петровскую эпоху, 1910)<br>
	<i>РШЭО</i> 1643 г. Русско-шведские экономические отношения в XVII в. / Отв. ред. М. П. Вяткин, И. Н. Фирсов. М.; Д., 1960.<br>
	<i>Русские повести XVII‒XVIII вв.</i> Под ред. и с предисловием В.В. Сиповского. СПб., 1905.<br>
	<i>Сборник</i> древнерусских памятников и образцов народной русской речи. Варшава, 1882.<br>
	<i>Сильвестр Медведев.</i> Оглавление книг, кто их сложил // Чтения в Императорском Обществе Истории и Древностей Российских при Московском Университете. Кн. 3. М., 1846.<br>
	<i>Сим.мат.</i> XVII в. Симони П.К. Материалы для словаря графических искусств (книжное и иконописное дело старого и нового времени). 1918 г. — Рукописная картотека, хранящаяся в ИРЯ РАН, ДРС.<br>
	<i>Скифская история</i> Лызлов А. Скифская история. М.: Наука, 1990.<br>
	<i>Сл.промысл.</i> XVII в. Словарь промысловой лексики Северной Руси XV-XVII вв. / Ред. Ю. И. Чайкина. Вып. 1. СПб., 2003.<br>
	<i>Сл.Смол.</i> Региональный исторический словарь 2-й половины ХѴІ-ХѴІІІ в.: по памятникам письменности Смоленского края / Отв. ред. Е. Н. Борисова. Смоленск, 2000.<br>
	<i>Соболевский Соболевский</i> А.И. Переводная литература Московской Руси XIV–XVII веков. СПб., 1903.<br>
	<i>Соловьев</i> Соловьев С. М. История России с древнейших времен. СПб., 1851‒1879. Т. XIIΙ.<br>
	<i>Сташевский</i> Сташевский Е.Д. Очерки по истории царствования Михаила Федоровича. Ч. 1. Киев, 1913.<br>
	<i>Тайная Тайных.</i> Библиотека литературы Древней Руси / РАН. ИРЛИ, Под ред. Д. С. Лихачева, Л. А. Дмитриева, А. А. Алексеева, Н. В. Понырко.  СПб.: Наука, 2000. Т. 9: Конец XIV–первая половина XVI века.<br>
	<i>Тихонравов Н.С.</i> Русские драматические произведения 1672–1725 гг. Т. I. СПб., 1874.<br>
	<i>Тихонравов Н.С.</i> Летописи русской литературы и древности. Т. 2. Отд. II, с. 38. 1 пол. XVIII в. 1859.<br>
	<i>Фацеции</i> Державина О.А. Фацеции. Переводная новелла в русской литературе XVII века. М., 1962.<br>
	<i>Хрестоматия по истории русского языка</i> / сост. В.В. Иванов, Т.А. Сумникова, Н.П. Панкратова. М.: Просвещение, 1990.<br>
	<i>Хроника Павла Пясецкого</i> Кон. XVII‒нач. XVIII в. ПДПИ, 1887, № 68.<br></p>

{% endblock %}
