{% extends 'EDGrPol/base.html' %}

{% block content %}

</li>
<center><h2 class="mt-5">Контакты</h2></center><br>

<p>Приводимый ниже список сокращений не содержит общепринятых сокращений типа “др.”, “т.д.” и других.
<li>англ. — английский</li>
<li>араб. — арабский</li>
<li>бав. — баварский</li>
<li>балт. — балтийский</li>
<li>безл. — безличный</li>
<li>блр. — белорусский</li>
<li>болг. — болгарский</li>
<li>бран. — бранный</li>
<li>букв. — буквально</li>
<li>вар. — вариант</li>
<li>венг. — венгерский</li>
<li>вин.п. — винительный падеж</li>
<li>ВКЛ — Великое княжество Литовское</li>
<li>возм. — возможно</li>
<li>вост. — восточный</li>
<li>вост.-слав. — восточнославянский</li>
<li>в сост. — в составе</li>
<li>геогр. назв. — географическое название</li>
<li>герм. — германский</li>
<li>глаг. — глагол</li>
<li>голл. — голландский</li>
<li>гос-во — государство</li>
<li>готск. — готский</li>
<li>грам. — грамматический</li>
<li>греч. — греческий</li>
<li>д.-в.-нем. — древневерхненемецкий</li>
<li>диал. — диалектный</li>
<li>др.-греч. — древнегреческий</li>
<li>др.-герм. — древнегерманский</li>
<li>древн. — древнее</li>
<li>др.-еврейск. — древнееврейский</li>
<li>др.-инд. — древнеиндийский</li>
<li>др.-прус. — древнепрусский</li>
<li>др.-рус. — древнерусский</li>
<li>др.-сканд. — древнескандинавский</li>
<li>др.-чеш. — древнечешский</li>
<li>евр. — европейский</li>
<li>ед., ед.ч. — единственное число</li>
<li>ж. — имя существительное женского рода</li>
<li>женск. — словообразовательный эквивалент женского рода</li>
<li>заимств. — заимствование, заимствовано</li>
<li>зап. — западный</li>
<li>зап.-герм. — западногерманский</li>
<li>зап.-слав. — западнославянский</li>
<li>звукоподраж. — звукоподражательный</li>
<li>зд. — здесь</li>
<li>сказ. — сказуемое</li>
<li>знач. — значение</li>
<li>и.-е. — индоевропейский</li>
<li>инф. - инфинитив</li>
<li>исп. — испанский</li>
<li>итал. — итальянский</li>
<li>карийск. — карийский</li>
<li>кельт. — кельтский</li>
<li>книж. — книжный</li>
<li>кот. — который</li>
<li>лат. — латинский</li>
<li>лидийск. — лидийский</li>
<li>лит. — литовский</li>
<li>литер. — литературный</li>
<li>лтш. — латышский</li>
<li>м. — имя существительное мужского рода</li>
<li>мед. — медицинский</li>
<li>мест. — местоимение</li>
<li>местн. н. — местное название</li>
<li>мифол. — мифологический</li>
<li>мн. — имя существительное pluralia tantum</li>
<li>муз. — музыкальный термин</li>
<li>назв. — название</li>
<li>нареч. — наречие</li>
<li>нар.-лат. — народная латынь</li>
<li>нар. этимол. — народная этимология</li>
<li>неизм. – неизменяемая форма</li>
<li>нек. — некоторый</li>
<li>н.-нем. — нижненемецкий</li>
<li>нем. — немецкий</li>
<li>несов. — несовершенный вид</li>
<li>нов.-лат. — новолатинский</li>
<li>ново-в.-нем. — нововерхненемецкий</li>
<li>общеслав. — общеславянский</li>
<li>п. — падеж</li>
<li>первонач. — первоначально</li>
<li>перен. — переносное значение</li>
<li>перс. — персидский</li>
<li>под. — подобный</li>
<li>позднелат. — позднелатинский</li>
<li>польск. — польский</li>
<li>порт. — португальский</li>
<li>праслав. — праславянский</li>
<li>превосх. степ. — превосходная степень</li>
<li>предл. — предлог</li>
<li>преф. — префикс</li>
<li>прил. — имя прилагательное</li>
<li>прич. — причастие</li>
<li>произв. — производное</li>
<li>проч. — прочий</li>
<li>прош. вр. — прошедшее время</li>
<li>разг. — разговорный</li>
<li>ранне-в.-нем. — ранневерхненемецкий</li>
<li>ранне-ново-в.-нем. — ранненововерхненемецкий</li>
<li>род. п. — родительный падеж</li>
<li>ром., романск. — романский</li>
<li>рум. — румынский</li>
<li>рус. — русский</li>
<li>с. — имя существительное среднего рода</li>
<li>с.-хорв. — сербохорватский</li>
<li>санскр. — санскрит</li>
<li>св. — святой</li>
<li>сев. — северный</li>
<li>серб. — сербский</li>
<li>слав. — славянский</li>
<li>слвц. — словацкий</li>
<li>словообр. — словообразовательный</li>
<li>см. — смотри</li>
<li>смол. — смоленский</li>
<li>совр. — современный</li>
<li>собир. — собирательное</li>
<li>спец. — специальный</li>
<li>ср. — сравни</li>
<li>сравн. степ. — сравнительная степень</li>
<li>ср.-англ. — среднеанглийский</li>
<li>ср.-век. — средневековый</li>
<li>ср.-в.-нем. — средневерхненемецкий</li>
<li>ср.-голл. — среднеголландский</li>
<li>ср.-лат. — средневековая латынь</li>
<li>ср.-н.-нем. — средненижненемецкий</li>
<li>ср.-тур. — среднетурецкий</li>
<li>ст.-блр. — старобелорусский</li>
<li>ст.-итал. — староитальянский</li>
<li>ст.-польск. — старопольский</li>
<li>страд. — страдательный залог</li>
<li>ст.-рус. — старорусский</li>
<li>ст.-слав. — старославянский</li>
<li>ст.-укр.— староукраинский</li>
<li>ст.-франц. — старофранцузский</li>
<li>ст.-чеш. — старочешский</li>
<li>суфф. — суффикс</li>
<li>сущ. — имя существительное</li>
<li>твор. п. — творительный падеж</li>
<li>тж. — также</li>
<li>тур. — турецкий</li>
<li>тюрк. — тюркский</li>
<li>укр. — украинский</li>
<li>уменьш. — уменьшительный</li>
<li>уст. — устаревшее</li>
<li>фин. — финский</li>
<li>фонетич. — фонетический</li>
<li>франц. — французский</li>
<li>цслав. — церковнославянский</li>
<li>чеш. — чешский</li>
<li>шваб. — швабский</li>
<li>швед. — шведский</li>
<li>юрид. — юридический</li>
<li>южнослав. — южнославянский</li>
<li>яз. — язык</li>
<li>явл. — является</li>
<li>acc. — accusativus</li>
<li>act. — activum</li>
<li>aor. — aoristus</li>
<li>g., gen. — genetivus</li>
<li>inf. — infinitivus</li>
<li>part. — participium</li>
<li>pass. — passivum</li>
<li>praes.  — praesens</li>
<li>s., sing. — sigularis</li>
<li>pl. — pluralis</li>
</p>

<br>

{% endblock %}