{% extends 'EDGrPol/base.html' %}

{% block content %}

<br>
<center><h2 class="mt-5">Участники проекта</h2></center><br>

<b class="text-muted">Руководитель, автор концепции, редактор раздела «Грецизмы»</b><br>
<p><b>Чернышева Маргарита Ивановна</b> -  доктор филологических наук, профессор, ведущий научный сотрудник Института русского языка им. В.В. Виноградова РАН <br><a href="mailto:chernysheva@bk.ru">chernysheva@bk.ru</a></p>
<hr>

<h4 class="mt-5">Основные участники</h4>
<b class="text-muted">Редактор раздела «Полонизмы»</b><br>

<b>Новак Мария Олеговна</b>,  доктор филологических наук, ведущий научный сотрудник Института русского языка им. В.В. Виноградова РАН<br><br>

<b class="text-muted">Авторы</b><br>

<b>Державина Елена Игоревна</b>,  кандидат филологических наук, ведущий научный сотрудник Института русского языка им. В.В. Виноградова РАН<br><a href="mailto:e_derzhavina@mail.ru">e_derzhavina@mail.ru</a><br><br>

<b>Иванова Виолетта Викторовна</b>, выпускница Школы лингвистики НИУ ВШЭ <br><a href="mailto:violett.ivanova@gmail.com">violett.ivanova@gmail.com</a><br><br>

<b>Кулева Наталья Александровна</b>,  младший научный сотрудник Института русского языка им. В.В. Виноградова РАН <br><a href="mailto:kulevana@mail.ru">kulevana@mail.ru</a><br><br>

<b>Пенькова Яна Андреевна</b>, кандидат филологических наук, старший научный сотрудник Института русского языка им. В.В. Виноградова РАН  <br><a href="mailto:amoena@inbox.ru">amoena@inbox.ru</a><br><br>

<b>Скрипка Вероника Константиновна</b>, младший научный сотрудник, Институт русского языка им. В.В. Виноградова РАН, отдел исторической лексикографии  <br><a href="vkskripka@yandex.ru">vkskripka@yandex.ru</a></p>

<b class="text-muted">Коллеги, помогавшие в реализации проекта</b><br>

<p><b>Астахина Людмила Юрьевна</b>,  доктор филологических наук, ведущий научный сотрудник Института русского языка им. В.В. Виноградова РАН <br><a href="lastakhina@yandex.ru">lastakhina@yandex.ru</a><br><br>

<b>Банькова Eлена Aнатольевна</b>,  историк, консультант по историческим вопросам в Словаре русского языка XI-XVII вв. с 2000 г. (25 вып. СлРЯ)<br><br>

<b>Оборнева Зинаида Евгеньевна</b>, кандидат исторических наук, научный сотрудник Института русского языка им. В.В. Виноградова РАН <br><a href="mailto:o_zinaida@mail.ru">o_zinaida@mail.ru</a><br><br>

<b>Романова Галина Яковлевна</b>, кандидат филологических наук, ведущий научный сотрудник Института русского языка им. В.В. Виноградова РАН<br><br>






<hr>
<p><b class="text-muted">техническое решение</b><br> <b>Морозова Валерия Алексеевна</b> -  старший инженер систем глубокого обучения Intel CORP., Senior Deep Learning Software Engineer <br><a href="mailto:tito_alba@mail.ru">tito_alba@mail.ru</a></p><br>

{% endblock %}
